*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    background-color: #f4f4f4;    
}
.container{
    display: flex;
    align-items: center;
    height: 100vh;
  
    
}
.left-section{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
}


.right-section{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-image {
  width: 120%;
  max-width: 897px;
  height: 100vh;
  object-fit: cover;
}

.login-card{
    width: 450px;
    background-color: white;
    padding: 50px;
    border-radius: 25px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.logo{
    text-align: center;
    margin-bottom: 20px;
}
.logo h1{
    color:#1f4db8;
    font-size: 42px;
}
.logo h2{
    color:  #5b6475;
    font-size: 20px;
}
.subtitle{
    text-align: center;
    margin-bottom: 25px;
     color: #666;
}
.input-field{
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #d8d8d8;
    font-size: 16px;
}
.options{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.options a{
    text-decoration: none;
    color: #1f4db8;
}
.login-btn{
    width: 100%;
    padding: 15px;
    margin-bottom:20px;
    border: none;
    border-radius: 10px;
    background-color: #2563eb;
    color: white;
    cursor: pointer;
}
.login-btn:hover{
    background: #1d4ed8;
}
.footer-text{
    text-align: center;
}
.footer-text a{
    text-decoration: none;
    color: #2563eb;
}


/* Register.css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    background-color: #eef3fb;    
}
.register-container{
    display: flex;
    min-height: 100vh;
}
.left-section{
    width: 35%;
    background:#f3f7ff;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    text-align: center;
}
.register-image{
    width: 80%;
    max-width: 370px;
}
.left-section h1{
    margin-top: 20px;
    color:#1f4db8;
    margin-bottom: 10px;
}
.left-section p{
    color: #5b6475;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 14px;
}
.left-section a{
    text-decoration: none;
    color: #134ed8;
}
.footer-text{
    margin-top: 10px;
}
.right-section{
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.register-card{
    width: 100%;
    max-width: 560px;
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.register-card h1{
    text-align: center;
    color: #1f4db8;
    margin-bottom: 15px;
}

.register-card p{
    text-align: center;
    color: #5b6475;
    margin-bottom: 20px;
    font-size: 14px;
}
.input-group{
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}
.input-field{
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #d8d8d8;
    font-size: 16px;
}
.register-btn{
    width: 100%;
    padding: 15px;
    margin-bottom:20px;
    border: none;
    border-radius: 10px;
    background-color: #2563eb;
    color: white;
    cursor: pointer;
}
.register-btn:hover{
    background: #1d4ed8;
}