*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    background-color: #f4f4f4;    
}
.container{
    display: flex;
    height: 100vh;
}
.left-section{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-image {
  width: 90%;
  max-width: 700px;
}

/* login css */